<div class="places-container">

      <div class="placelist-blue">

             <h3>Contact #1</h3>

                  <div class="places-edit-checkbox">
                       
                       <div class="phone-edit-sprite" id="place1-edit"><%= link_to 'phone-edit' %></div>

                  </div><!--end  checkbox-->
                                 
                  <div class="places-delete-checkbox">

                      <div class="phone-delete-sprite"><%link_to "phone-destroy" %></div>

                  </div><!--end edit checkbox-->

      </div> <!--end placelist-->
             
</div> <!--end list-preview-box --> 
             
