        
 <div id="master-formbox">
 
 
           <div class="formbox-wrapper">
                     <h3>Contact Name</h3>
                    <form>
                    <input type="text" name="phone-name" class="formbox" placeholder=" i.e. 'Dentist', 'Work', 'Uncle Ben's">
                    </form>
                    <br />
            </div> <!--end formbox-wrapper-->
            
            
             <div class="clear"></div>
                    
                    
            <div class="formbox-wrapper">
                     <h3>Contact Phone Number</h3>
                    <input type="text" name="phone-number" class="formbox" placeholder=" ex. 212-799-2149">
                    </form>
             </div> <!--end formbox-wrapper-->

                                 
                <div class="formbox-wrapper buttonbox">
                
                            <input type="submit" class="button" name="phone-edit" value="Edit">
            
                            <input type="submit" class="button" name="phone-save" value="Save">
                            
                </div> <!--end formbox-wrapper-->
         
</div> <!--end master-formbox;-->

         <div class="clear"></div>

         
                
       <div class="phone-list-box"> 
       
                 <div class="placelist"><h3>Phone #1</h3></div>
                 <div class="placelist"><h3>Phone #2</h3></div>
                 <div class="placelist"><h3>Phone #3</h3></div>
                 <div class="placelist"><h3>Phone #4</h3></div>
                 <div class="placelist"><h3>Phone #5</h3></div>
                 
         </div> <!--end phone box list-->
         
         

          
          
         </div>
         </div>
         </div>
         </div>
         </div>
 