<div class="tmh-mobile-frame">

		<div class="tmh-mobile-masterbox">
       
       	
                          <a href="<%= take_me_home.url %>">
                                  <div class="tmh-mobile-bigbutton"><h2>Home</h2></div> <!--end tmh-mobile-bigbutton-->      
                           </a>
                       
                   <div class="tmh-mobile-alertbox">
                   			 <h3>Press to get the quickest route home from your current location</h3>
     				 </div> <!--end tmh-mobile-alertbox-->
     
    
      </div> <!--end tmh-mobile-masterbox-->
      
</div> <!--end tmh-mobile-frame-->