
<head>

<style>
.bumper {background-color: #2faf2f;top: 22px;}
#master-formbox {margin: 80px auto;	}
.master-footer {margin-top: 200px;border:1px solid #2faf2f;}
</style>
 
</head>

<body>




 <div id="master-formbox">
 
                  <div class="formbox-wrapper">
                            <h3>First Name</h3>
                               <form>
                            <input type="text" name="firstname" class="formbox" placeholder=" required">
                            </form>
                             <br />
                   </div> <!--end formbox-wrapper-->
                   
                    <div class="clear"></div>
                    
                   <div class="formbox-wrapper">
                             <h3>Last Name</h3>
                            <form>
                            <input type="text" name="lastname" class="formbox" placeholder=" optional">
                            </form>
                            <br />
                    </div> <!--end formbox-wrapper-->
                    
                 <div class="clear"></div>
                   
                    <div class="formbox-wrapper">
                         <h3>Important Fact #1</h3>
                        <input type="text" name="important1" class="formbox" placeholder=" important fact about you">
                        </form>
                        <br />
                    </div> <!--end formbox-wrapper-->
                    
                     <div class="clear"></div>
                    
                      <div class="formbox-wrapper">
                         <h3>Important Fact  #2</h3>
                        <input type="text" name="important2" class="formbox" placeholder=" secondary info">
                        </form>
                        <br />
                     </div> <!--end formbox-wrapper-->
                     
                      <div class="clear"></div> 
                      <br />
                    
                    <div class="formbox-wrapper">
                         <h4>Emergency Contact Name</h4>
                        <input type="text" name="Emergency-name" class="formbox" placeholder=" first or first/last name">
                        </form>
                         <br />
                    </div> <!--end formbox-wrapper-->
                      
                          <div class="clear"></div> 
                          
                          
                   <div class="formbox-wrapper">
                         <h4>Emergency Contact Phone #</h4>
                        <input type="text" name="Emergency-phone" class="formbox" placeholder=" 646-555-1212">
                        </form>
                         <br />
                   </div> <!--end formbox-wrapper-->
                   
                     <div class="clear"></div>
            
                    
                    <div class="formbox-wrapper">
                          <h4>Emergency Contact Email </h4>
                        <input type="text" name="Emergency-email" class="formbox" placeholder=" you@youremailprovider.com">
                        </form>
                        <br />
                   </div> <!--end formbox-wrapper-->
                   
    </div> <!--end master formbox-->
    
                        <div class="clear"></div>
                        
                        
                        <div id="imagearea">
                  <div class="button">
                        <h5>Upload an image</h5>
                   </div><!--end button-->
              
                  <h3>Click to upload an image of yourself (optional).</h3> 
                  <h4>Reccomended dimensions: 300x150. Accepted file types: .jpg, .png, .tif, .gif</h4>
      </div> <!--end imagearea-->
      
      

         
         </div>
         </div>
         </div>
         </div>
         </div>
         </div>
         

         


