<div class="master-header Basic_info-bumper">
       <%= link_to "home/index" %><img src="images/Virgil-Logo.png">
        <h2>Basic Info</h2>
         <h3>Welcome, <%= @first_name %></h3>
        <div class="bumper Basic_info-bumper"></div>
</div> <!--end master header-->

 <div id="Basic_info-master-formbox">

 <%= render 'new' %>

      <div class="master-footer border-green">
   <%= render "partials/footer" %>
</div> 

