
<div class="medical-phone-frame">
    
    	<div class="medical-phone-contentframe">
        
        			<div class="medical-frame-photoframe">
       						<%= image_tag ('profile-photo.jpg') %>
        			</div><!--end photoframe-->
    
                    <div class="medical-namebox">
                        <h2>Username</h2>
                    </div> <!--end namebox-->
                    
                    <div class="medical-primary">
                    <h2>Primary Condition</h2>
                        </div><!--end primary-->
                        
                    <div class="medical-secondary">
                    <h2>Secondary Condition</h2>
                     </div><!--end secondary-->
                    

                 </div> <!--end contentframe-->
                 
       		<div class="medical-buttonframe">
             
                <div class="medical-buttonbox">
        
                        <div class="medical-buttonA"><a href="#"><h5>
                         Doctor Name
                        </h5>
                        </a></div><!--end ButtonA-->
                        
                        <div class="medical-buttonB"><a href="#"><h5>
                        Hospital Name
                        </h5></a></div><!--end ButtonB-->
                        
                        <div class="medical-buttonC"><a href="#"><h5>
                         Emergency Contact
                        </h5></a></div><!--end ButtonC-->
             
                 </div><!-- end buttonbox-->
         </div> <!--end buttoframe-->

</div> <!--end frame-->
