
<div class="master-header">

        <%= link_to "home/index" %><img src="images/Virgil-Logo.png">

        <h2>Virgil: Phone</h2>

        <h3>Welcome, Username</h3>

        <div class="bumper"></div>
        
</div> <!--end master header-->