
   <div class="master-header video-header">
        <%= link_to image_tag ('Virgil-Logo.png') %> 
        <h2>Virgil: Upload a Video</h2>
        <h3>Welcome, <%= @first_name %></h3>
        <div class="bumper video-bumper"></div>
</div> <!--end master header-->


    <div class="video-spacer">
  <%= render "new" %>
    </div> <!-- end video spacer -->
        
 
 
        <div class="video-directionsbox">
                <h2>Directions</h2>
                <h3>This feature lets you upload a video explaining what do do in an emergency situation. </h3>
                <h3>You can't be there all the time, but complex situations sometimes call for explicit instructions  that the primary user may not be able to communicate.</h3>
                <h3>You create the video, and you share what you feel is necessary. Upload your video to YouTube, Vimeo, or other service, and insert the link in the form above, as well as a clear call to action for anyone viewing this video.</h3>
  
        
        </div> <!--end directionsbox-->

  

 <div class="master-footer video-footer">
    <%= render "partials/footer" %>
</div> 
<!--end master footer-->
