       
       <div class="phone-list-box"> 
        <ul>
            <li class="placelist"><h3>Phone #1</h3></li>
            <li class="placelist"><h3>Phone #2</h3></li>
            <li class="placelist"><h3>Phone #3</h3></li>
            <li class="placelist"><h3>Phone #4</h3></li>
            <li class="placelist"><h3>Phone #5</h3></li>
        </ul>
       </div> <!--end phone box list-->