

    <div id="container">
    
            <div id="titlebox">
                          <h2>Virgil: A Simple Mobile UI</h2>
            </div> <!--end titlebox-->
            
            <div id="videobox">
            	<iframe width="840" height="610" src="http://www.youtube.com/embed/h3pGGjdBzns?rel=0" frameborder="0" allowfullscreen></iframe>
            </div><!--end videobox-->
            
            <div id="buttonbox">
            
              <div id="Learn_More_box">
                    
                        <div id="redbox">
                                <h2><%= link_to "static_pages/learn_more", learn_more_path %>Learn More</h2>
                            </div>
                        </a>
                        
              </div> <!--end Learn_More_box-->
                    
                    <div id="Sign_Up_box">
                    
                    	 <%= link_to "basic_info/Basic-Info-Form" %>
                        <div id="bluebox">
                                <h2>Create profile</h2>
                            </div>
                        </a>
                        
              </div><!-- end Sign_Up_box-->
                    
      </div> <!--end buttonbox-->
            
            <div id="loginbox">
            
                    <form>
                    <input type="text" name="index-username" class="formbox" placeholder=" username">
                    </form>
                    
                    <form>
                    <input type="password" name="index-password" class="formbox" placeholder=" password">
                    </form>
                    
              <input type="submit" class="button" name="index-login" value="Login">
            
      </div> <!--end loginbox-->
         
            
    </div><!--end container-->
    


<div class="master-footer green-footer">

   <%= render "partials/footer" %>
   
</div> 
<!--end master footer-->


