<div class="master-header places-header">
         <%= link_to image_tag ('Virgil-Logo.png') %>
         <h2>Virgil: Places</h2>
        <h3>Welcome, <%= @first_name %></h3>
        <div class="bumper places-bumper"></div>
</div> <!--end master header-->
