
  <div class="master-header places-header">
         <%= link_to image_tag ('Virgil-Logo.png') %>
         <h2>Virgil: Places</h2>
        <h3>Welcome, <%= @first_name %></h3>
        <div class="bumper places-bumper"></div>
</div> <!--end master header-->

<div class="places-container">



       <div class="places-formbox">

        	  <div class="places-formbox-wrapper">
      				<h3>Place Name</h3>
      	  </div	> <!--end formbox-wrapper-->


      	  <div class="clear"></div>


      	  <div class="places-formbox-wrapper">
      	          
      	          <h3>Place Address</h3>

      	   </div> <!--end formbox-wrapper-->
      
      	<div class="places-formbox-wrapper">

  
       
      </div> <!-- end places formboxwrapper-->


       <div class="places_container">


      <%= gmaps4rails(@json) %>


      </div>

             <div class="clear"></div>
                  <div class="places-preview-list-box">
                       <div class="placelist" id="place1" >
                          <h3>Place #1</h3>
                                <div class="places-edit-checkbox">
                                   <a href="http://www.google.com"><div class="places-edit-sprite" id="place1-edit"></div></a>
                                  </div><!--end  checkbox-->
                                   
                                 <div class="places-delete-checkbox">
                                 <a href="#"><div class="places-delete-sprite" id="place2-delete"></div></a>
                              </div><!--end edit checkbox-->
                       </div> <!--end placelist-->
                       
                       <div class="placelist" id="place2"><h3>Place #2</h3>
                          	<div class="places-edit-checkbox">
                                   <a href="http://www.google.com"><div class="places-edit-sprite" id="place1-edit"></div></a>
                                  </div><!--end  checkbox-->
                                  
                                 <div class="places-delete-checkbox">
                                 <a href="#"><div class="places-delete-sprite" id="place2-delete"></div></a>
                              </div><!--end edit checkbox-->
                        </div> <!--end placelist-->
                       
                 
                       <div class="placelist" id="place3"><h3>Place #3</h3>
                       		   <div class="places-edit-checkbox">
                                   <a href="http://www.google.com"><div class="places-edit-sprite" id="place3-edit"></div></a>
                                  </div><!--end  checkbox-->
                                  
                                 <div class="places-delete-checkbox">
                                 <a href="#"><div class="places-delete-sprite" id="place3-delete"></div></a>
                              </div><!--end edit checkbox-->
                     </div> <!--end placelist-->
           
                       <div class="placelist" id="place4"><h3>Place #4</h3>
                       
                       		   <div class="places-edit-checkbox">
                                   <a href="http://www.google.com"><div class="places-edit-sprite" id="place4-edit"></div></a>
                                  </div><!--end  checkbox-->
                                  
                                 <div class="places-delete-checkbox">
                                 <a href="#"><div class="places-delete-sprite" id="place4-delete"></div></a>
                              </div><!--end edit checkbox-->
                     </div> <!--end placelist-->
                     
                              
                       <div class="placelist" id="place5"><h3>Place #5</h3>
                       			   <div class="places-edit-checkbox">
                                   <a href="http://www.google.com"><div class="places-edit-sprite" id="place5-edit"></div></a>
                                  </div><!--end  checkbox-->
                                  
                                 <div class="places-delete-checkbox">
                                 <a href="#"><div class="places-delete-sprite" id="place5-delete"></div></a>
                              </div><!--end edit checkbox-->
                       </div> <!--end placelist-->
                       
                       
                       <div class="placelist" id="place6"><h3>Place #6</h3>
                          <div class="places-edit-checkbox">
                                   <a href="http://www.google.com"><div class="places-edit-sprite" id="place6-edit"></div></a>
                                  </div><!--end  checkbox-->
                                  
                                 <div class="places-delete-checkbox">
                                 <a href="#"><div class="places-delete-sprite" id="place6-delete"></div></a>
                              </div><!--end edit checkbox-->
                        </div> <!--end placelist-->      
                              
                       
               </div> <!--end list-preview-box --> 
               
       </div> <!--end preview-list-box-->
       
          
         </div>
         </div>
         </div>
         </div>
         </div>
         
  <div class="master-footer phone-footer">
	<%= render "partials/footer" %>
</div> 
<!--end master footer-->

