

<h1>Virgil: Places</h1>

<div class="places-mobile-frame">

<div class="places-mobile-top-bar">
         
 <div class="iconframe">
  <div class="placesprite"></div>
     </div> <!--end iconframe-->
                             
        <h2>Places</h2>
                   
            </div> <!--end top-bar-->
            
   <div class="iconframe">
       <a href="#"><div class="places-mobile-placesprite"></div></a>

    </div> <!--end iconframe-->
	
     </ul>
          <li class="places-mobile-placebar"> 
           <h3><a href="<%= places.address %>"><%= @places.name %></a></h3>
          </li> <!--end placebar-->
      </ul>

        <div class="places-mobile-footer"></div>
        
              

